# Global default owners for Team Ocelleon
* @memehdi14

# Sub-system code owners
/projects/tarang-firmware/ @memehdi14
/projects/tarang-ml/       @memehdi14
/projects/tarang-dsp/      @memehdi14
/docs/architecture/        @memehdi14
